/* #navbar {
  width:200px;
  height: 100vh;
  background-color: pink;
  float: left;
} */


/* login page */
#landingPic2 {
  height: 110vh;
  width: 1640px;
}

#landingBack {
  margin-top: -725px;
  margin-left: 200px;
  border-radius: 20px;
  border: 2px solid #A692A2;
  opacity: .5;
  position: absolute;
  height: 600px;
  width: 500px;
  background-color: #BFADA3;
}

#landingTitle {
  position: absolute;
  margin-top: -675px;
  margin-left: 225px;
  font-size: 75px;
  color: #F2F2F2;
}

#landingUsername {
  position: absolute;
  margin-top: -500px;
  margin-left: 325px;
  font-size: 20px;
}

#landingUsername:focus {
  outline: solid 2px #A692A2;
}

#landingPassword {
  position: absolute;
  margin-top: -400px;
  margin-left: 325px;
  font-size: 20px;
}

#landingPassword:focus {
  outline: solid 2px #A692A2;
}

#landingLogin {
  position: absolute;
  margin-top: -275px;
  margin-left: 400px;
  width: 100px;
  font-size: 25px;
  background-color: #BFADA3;
  border: 1px solid #F2F2F2;
  color: #F2F2F2;
}

#landingLogin:hover {
  background-color: #F2F2F2;
  border: 1px solid #BFADA3;
  color: #BFADA3;
}

#landingSignUp {
  position: absolute;
  margin-top: -210px;
  margin-left: 415px;
  color: #F2F2F2;
}

#landingSignUp:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* sign up page */
#signupPage {
  margin-top: -15px;
}

#signupLeft {
  float: left;
  height: 100vh;
  width: 840px;
  background-color: #F2EFE9;
}

#signupBorder {
  margin-top: 25px;
  margin-lefT: 200px;
  border-radius: 20px;
  border: 2px solid black;
  opacity: .25;
  height: 600px;
  width: 500px;
}

#signupRight {
  float: right;
  height: 100vh;
  width: 600px;
}

#signupPic {
  height: 100vh;
  width: 600px;
}

#signupTopSpace {
  height: 15px;
}

#signupBack {
  color: black;
  margin-left: 25px;
}

#signupTitle {
  margin-left: 375px;
  margin-top: -525px;
  position: absolute;
}

.signupInput {
  margin-left: 330px;
}

#signupUsername {
  position: absolute;
  margin-top: -410px;
  font-size: 20px;
}

#signupUsername:focus {
  outline: solid 2px #F2E6D8;
}

#signupEmail {
  position: absolute;
  margin-top: -310px;
  font-size: 20px;
}

#signupEmail:focus {
  outline: solid 2px #F2E6D8;
}

#signupPassword {
  position: absolute;
  margin-top: -210px;
  font-size: 20px;
}

#signupPassword:focus {
  outline: solid 2px #F2E6D8;
}

#signupSubmit {
  position: absolute;
  margin-top: -100px;
  margin-left: 400px;
  width: 100px;
  font-size: 25px;
  background-color: white;
  border: 1px solid #F2CEAE;
  color: #F2CEAE;
}

#signupSubmit:hover {
  background-color: #F2CEAE;
  border: 1px solid white;
  color: white;
}


/* app */
#appCont {
  width: 1440px;
  height: 100vh;
  float: left;
}

#grad {
  width: 1440px;
  height: 100vh;
  /* background: rgb(235,217,201);
  background: linear-gradient(0deg, rgba(235,217,201,1) 0%, rgba(244,234,226,1) 13%, rgba(250,246,242,1) 40%, rgba(253,251,250,1) 62%, rgba(255,255,255,1) 100%); */
}

#travelPlannerTitle {
  margin-top: 20px;
  margin-left: 25px;
  float: left;
  /* color: #F4BF88; */
  color: #F2A766;
}

#username {
  float: right;
  margin-right: 30px;
  margin-top: 25px;
}

#usernameCont {
  background-color: #F2CEAE;
  border: 1px solid #F2CEAE;
}

/* home */
#home {
  margin-top: 100px;
}

#addVacaCont {
  /* margin-left: 30px; */
  margin-left: 150px;
  padding-top: 20px;
}

#vacaNameInput {
  height: 36px;
}

#vacaNameInput:focus {
  outline: solid 2px #FAE9D9;
}

#addVacaButton {
  margin-left: 10px;
  background-color: #172623;
  border: 1px solid #172623;
}

#vacationListUl {
  margin-top: -525px;
  margin-left: 110px;
  list-style-type: none;
  position: absolute;
}

#namesBackground {
  margin-left: 25px;
  height: 550px;
  width: 1390px;
  border-radius: 8px;
  opacity: .55;
}

#selectedName {
  margin-left: 30px;
  margin-top: -20px;
}

/* menu */
#settingsLink {
  color: black;
  margin-top: -5px;
  margin-left: 25px;
}

#menuBack {
  margin-left: 30px;
  text-decoration: underline;
  cursor: pointer;
  float: left;
}

#menuUl {
  list-style-type: none;
  text-align: center;
  margin-top: 50px;
}

.menuCont {
  border: 3px solid #F2CEAE;
  background-color: white;
  margin-right: 25px;
  margin-bottom: 25px;
  height: 250px;
  width: 250px;
  float: left;
  padding-top: 100px;
  font-size: 25px;
  border-radius: 8px;
}

.menuCont:hover {
  scale: 1.025;
  cursor: pointer;
}

.menuText {
  text-decoration: none;
  color: black;
}

.menuText:hover {
  cursor: pointer;
  color: black;
}

#menuTimeline { 
  width: 1075px;
  background-color: white;
  border: 3px solid #F2CEAE;
  margin-right: 25px;
  margin-bottom: 25px;
  height: 250px;
  float: left;
  padding-top: 100px;
  font-size: 25px;
  border-radius: 8px;
}

#menuTimeline:hover {
  scale: 1.010;
}

/* vacaname */
#vacaNameCont{
  height: 234px;
  width: 360px;
  border: 5px solid #F2CEAE;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-right: 25px;
  text-align: center;
  padding-top: 100px;
  float: left;
}

#namePic {
  height: 225px;
  width: 350px;
  margin-top: -100px;
  border-radius: 8px;
  opacity: .55;
}

#nameText {
  position: absolute;
  margin-top: -130px;
  margin-left: 60px;
  background-color: white;
  border-radius: 8px;
  height: 50px;
  width: 230px;
  padding-top: 4px;
  color: #172623;
}

#vacaNameCont:hover {
  scale: 1.025;
  cursor: pointer;
}

/* timeline */
#timelineCont {
  margin-top: -65px;
  margin-left: 75px;
}

#horizontalLine {
  position: absolute;
  border-bottom: 7px solid #F4BF88;
  width: 700px;
  margin-left: 100px;
  margin-top: 100px;
}

.circle{
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #F4BF88;
}

#start {
  margin-left: 89px;
  margin-top: 90px;
}

/* #start:hover {
  background-color: purple;
} */

#end {
  margin-left: 789px;
  margin-top: 90px;
}


/* #end:hover {
  background-color: purple;
} */

.line {
  position: absolute;
  border-right: 3px solid #F4BF88;
  height: 50px;
}

#first {
  margin-left: 200px;
  margin-top: 80px;
}

/* #first:hover {
  border-right: 3px solid purple;
} */

#second {
  margin-left: 400px;
  margin-top: 80px;
}

.date {
  position: absolute;
}

#startDate {
  margin-top: 50px;
  margin-left: 65px;
}

#endDate {
  margin-top: 50px;
  margin-left: 750px;
}