/* #navbar {
  width:200px;
  height: 100vh;
  background-color: pink;
  float: left;
} */


/* login page */
#landingPic2 {
  height: 110vh;
  width: 1640px;
}

#landingBack {
  margin-top: -725px;
  margin-left: 200px;
  border-radius: 20px;
  border: 2px solid #A692A2;
  opacity: .5;
  position: absolute;
  height: 600px;
  width: 500px;
  background-color: #BFADA3;
}

#landingTitle {
  position: absolute;
  margin-top: -675px;
  margin-left: 225px;
  font-size: 75px;
  color: #F2F2F2;
}

#landingUsername {
  position: absolute;
  margin-top: -500px;
  margin-left: 325px;
  font-size: 20px;
}

#landingUsername:focus {
  outline: solid 2px #A692A2;
}

#landingPassword {
  position: absolute;
  margin-top: -400px;
  margin-left: 325px;
  font-size: 20px;
}

#landingPassword:focus {
  outline: solid 2px #A692A2;
}

#landingLogin {
  position: absolute;
  margin-top: -275px;
  margin-left: 400px;
  width: 100px;
  font-size: 25px;
  background-color: #BFADA3;
  border: 1px solid #F2F2F2;
  color: #F2F2F2;
}

#landingLogin:hover {
  background-color: #F2F2F2;
  border: 1px solid #BFADA3;
  color: #BFADA3;
}

#landingSignUp {
  position: absolute;
  margin-top: -210px;
  margin-left: 415px;
  color: #F2F2F2;
}

#landingSignUp:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* sign up page */
#signupPage {
  margin-top: -15px;
}

#signupLeft {
  float: left;
  height: 100vh;
  width: 840px;
  background-color: #F2EFE9;
}

#signupBorder {
  margin-top: 25px;
  margin-lefT: 200px;
  border-radius: 20px;
  border: 2px solid black;
  opacity: .25;
  height: 600px;
  width: 500px;
}

#signupRight {
  float: right;
  height: 100vh;
  width: 600px;
}

#signupPic {
  height: 100vh;
  width: 600px;
}

#signupTopSpace {
  height: 15px;
}

#signupBack {
  color: black;
  margin-left: 25px;
}

#signupTitle {
  margin-left: 375px;
  margin-top: -525px;
  position: absolute;
}

.signupInput {
  margin-left: 330px;
}

#signupUsername {
  position: absolute;
  margin-top: -410px;
  font-size: 20px;
}

#signupUsername:focus {
  outline: solid 2px #F2E6D8;
}

#signupEmail {
  position: absolute;
  margin-top: -310px;
  font-size: 20px;
}

#signupEmail:focus {
  outline: solid 2px #F2E6D8;
}

#signupPassword {
  position: absolute;
  margin-top: -210px;
  font-size: 20px;
}

#signupPassword:focus {
  outline: solid 2px #F2E6D8;
}

#signupSubmit {
  position: absolute;
  margin-top: -100px;
  margin-left: 400px;
  width: 100px;
  font-size: 25px;
  background-color: white;
  border: 1px solid #F2CEAE;
  color: #F2CEAE;
}

#signupSubmit:hover {
  background-color: #F2CEAE;
  border: 1px solid white;
  color: white;
}


/* app */
#appCont {
  width: 1440px;
  /* height: 100vh; */
  float: left;

}

#grad {
  width: 1440px;
  height: 100vh;
}

#travelPlannerTitle {
  margin-top: 20px;
  margin-left: 25px;
  float: left;
  color: #6D788C;
}

#username {
  float: right;
  margin-right: 30px;
  margin-top: 25px;
}

#usernameCont {
  background-color: #A9BAD9;
  border: 1px solid #A9BAD9;
}

/* home */
#tripText {
  margin-left: 675px; 
  padding-top: 25px;
}

#home {
  margin-top: 100px;
}

#addVacaCont {
  margin-left: 250px;
  padding-top: 25px;
}

#vacaNameInput {
  height: 36px;
}

#vacaNameInput:focus {
  outline: solid 2px #EDEDED;
}

#addVacaButton {
  margin-left: 10px;
  background-color: #A692A2;
  border: 1px solid #A692A2;
}

#vacationListUl {
  margin-top: -525px;
  margin-left: 210px;
  list-style-type: none;
  position: absolute;
}

#namesBackground {
  margin-left: 25px;
  height: 550px;
  width: 1390px;
  border-radius: 8px;
  opacity: .55;
}

#selectedName {
  margin-left: 160px;
  margin-top: 0px;
}

/* menu */
#settingsLink {
  color: #272F40;
  margin-top: -5px;
  margin-left: 25px;
}

#menuBack {
  margin-left: 160px;
  margin-top: -60px;
  text-decoration: underline;
  cursor: pointer;
  float: left;
}

#summaryBack {
  margin-left: 160px;
  margin-top: -3px;
  text-decoration: underline;
  cursor: pointer;
}

/* #menuUl {
  list-style-type: none;
  text-align: center;
  margin-top: 65px;
  margin-left: 125px;
} */

/* .menuCont {
  margin-right: 20px;
  margin-bottom: 25px;
  height: 208px;
  width: 208px;
  float: left;
  padding-top: 100px;
  font-size: 25px;
  border-radius: 8px;
  border: 4px solid #EDEDED;;
}

.menuCont:hover {
  scale: 1.025;
  cursor: pointer;
}

.menuImageCont {
  height: 200px;
  width: 200px;
  margin-top: -100px;
  border-radius: 8px;
} */

#menuUl {
  list-style-type: none;
  text-align: center;
  margin-top: 65px;
  margin-left: -30px;
}


/* MENU SUMMARY */
.menuCont {
  margin-right: 20px;
  margin-bottom: 25px;
  height: 250px;
  width: 700px;
  float: left;
  padding-top: 100px;
  font-size: 25px;
  border-radius: 8px;
}

.menuCont:hover {
  cursor: pointer;
  margin-left: 0px;
  width: 1000px;
  transition: 0.3s;
}

.imageCont {
  height: 250px;
  width: 700px;
  margin-top: -100px;
  border-radius: 8px;
}

.imageCont:hover {
  width: 1000px;
  transition: 0.3s;
}

.menuPic {
  object-fit: cover;
  object-position: 0% 50;
  height: 250px;
  width: 700px;
  opacity: .55;
  border-radius: 8px;
}

.menuPic:hover {
  width: 1000px;
  object-position: 75% 100;
  transition: 0.3s;
}

.menuText {
  margin-top: -150px;
  position: absolute;
  margin-left: 140px;
}



/* .menuPic {
  object-fit: cover;
  object-position: 0% 0;
  height: 200px;
  width: 200px;
  opacity: .55;
  border-radius: 8px;
} */

#budgetPic {
  object-position: right top;
}

/* #settingsPic {
  object-position: right 70%;
} */

#settingsPic2 {
  object-position: right 10%;
}

/* .menuImageText {
  margin-top: -115px;
  opacity: 1;
  position: absolute;
  margin-left: 40px;
  background-color: white;
  height: 35px;
  width: 120px;
  border-radius: 8px;;
  padding-top: 3px;
} */

/* .menuText {
  text-decoration: none;
  color: black;
}

.menuText:hover {
  cursor: pointer;
  color: black;
} */

#menuTimeline { 
  background-color: white;
  border: 3px solid #EDEDED;;
  margin-right: 25px;
  margin-bottom: 25px;
  float: left;
  height: 207px;
  width: 890px;
  padding-top: 100px;
  padding-left: 10px;
  font-size: 25px;
  border-radius: 8px;
}

#menuTimeline:hover {
  scale: 1.010;
}

/* vacaname */
#tripNamesCont {
  background-color: #F7F7F7;
  margin-top: -10px;
  padding-top: 10px;
}

#vacaNameCont{
  height: 175px;
  width: 300px;
  /* border: 1px solid #D6D6D6; */
  background-color: white;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-right: 25px;
  text-align: center;
  padding-top: 110px;
  float: left;
}

#nameText {
  position: absolute;
  margin-top: -40px;
  margin-left: 30px;
  border-radius: 20px;
  height: 50px;
  width: 230px;
  padding-top: 0px;
}

#vacaNameCont:hover {
  scale: 1.025;
  cursor: pointer;
}

/* timeline */
#timelineCont {
  margin-top: -100px;
  margin-left: -25px;
}

#horizontalLine {
  position: absolute;
  border-bottom: 7px solid #64718C;
  width: 700px;
  margin-left: 100px;
  margin-top: 100px;
}

.circle{
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #64718C;
}

#start {
  margin-left: 89px;
  margin-top: 90px;
}

#end {
  margin-left: 789px;
  margin-top: 90px;
}

.line {
  position: absolute;
  border-right: 3px solid #64718C;
  height: 50px;
}

#first {
  margin-left: 200px;
  margin-top: 80px;
}

#second {
  margin-left: 400px;
  margin-top: 80px;
}

.date {
  position: absolute;
}

#startDate {
  margin-top: 40px;
  margin-left: 65px;
}

#endDate {
  margin-top: 40px;
  margin-left: 750px;
}

/* summary */
#summaryTitle {
  margin-left: 645px;
  margin-top: -45px;
  color: #64718C;
}

#sumCont {
  margin-left: 400px;
  margin-top: 20px;
}

#leftSum {
  float: left;
  margin-right: 15px;
  width: 300px;
}

#rightSum {
  float: left;
  width: 300px;
  height: 481px;
  border: 4px solid #B0BDD9;
  border-radius: 8px;
  overflow-y: scroll;
}

.sumHeader {
  color: #64718C;
}

.sumText {
  color: #363E4D;
}

#activitiesSumTitle {
  margin-top: 15px;
  margin-left: 85px;
  color: #64718C;
}

#flightsSum {
  border: 4px solid #B0BDD9;
  border-radius: 8px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

#hotelsSum {
  border: 4px solid #B0BDD9;
  border-radius: 8px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

#bugetsSum {
  border: 4px solid #B0BDD9;
  border-radius: 8px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

#sumActUl {
  margin-top: 15px;
}

/* edit trip */
#editTitle {
  margin-left: 645px;
  margin-top: -45px;
  color: #64718C;
}

.editHeader {
  color: #64718C;
}

#editButtons {
  margin-top: 25px;
  margin-left: 575px;
}

.editBut {
  margin-right: 15px;
}

#editButtonStyle {
  background-color: #B0BDD9;
  border: 1px solid #B0BDD9;
}

.editCont {
  margin-top: 40px;
}

#editDept {
  float: left;
  margin-left: 425px; 
  margin-right: 150px;
}

#editArr {
  float: left;
}

.editDeptIn {
  position: absolute;
}

#dfm {
  margin-top: 25px;
}

#dfd {
  margin-top: 75px;
}

#dfy {
  margin-top: 125px;
}

#dfh {
  margin-top: 175px;
}

#dfMin {
  margin-top: 225px;
}

#editSubmit {
  margin-top: 340px;
  margin-left: -285px;
  background-color: #2E3B59;
  border: 1px solid #2E3B59;
}

#editIn {
  float: left;
  margin-left: 425px;
  margin-right: 150px;
}

#editout {
  float: left;
}

.editHotel {
  position: absolute;
}

#hh {
  margin-top: 25px;
}

#hm {
  margin-top: 75px;
}

#hotelSubmit {
  position: absolute;
  margin-top: 150px;
  margin-left: -105px;
  background-color: #2E3B59;
  border: 1px solid #2E3B59;
}

#addAct{
  float: left;
  margin-left: 425px;
  margin-right: 175px;
}

#showAct {
  float: left;
  height: 400px;
  width: 250px;
  overflow-y: scroll;
}

.actIn {
  position: absolute;
}

#actName {
  margin-top: 25px;
}

#actMonth {
  margin-top: 75px;
}

#actDay {
  margin-top: 125px;
}

#actYear {
  margin-top: 175px;
}

#actHour {
  margin-top: 225px;
}

#actMin {
  margin-top: 275px;
}

#actSubmit {
  margin-top: 325px;
  background-color: #2E3B59;
  border: 1px solid #2E3B59;
}

#editActButtons {
  margin-top: 10px;
}

#editActivities {
  background-color: #2E3B59;
  border: 1px solid #2E3B59;
}

.editAct3 {
  margin-right: 50px;
}

#unedit {
  margin-bottom: 5px;
  background-color: #2E3B59;
  border: 1px solid #2E3B59;
}

#editActList {
  list-style-type: none;
}

/* calendar */
#calendar {
  margin-left: 40px;
  margin-top: 25px;
}

/* settings */
#settingsTitle {
  margin-left: 660px;
  margin-top: -45px;
  color: #64718C;
}

#settingsCont{
  margin-top: 25px;
  margin-left: 550px;
}

#changeName {
  margin-bottom: 25px;
}

#deleteButton {
  margin-top: 30px;
  background-color: #2E3B59;
  border: 1px solid #2E3B59;
}

#deleteQ {
  margin-top: 25px;
}

#deleteAgain {
  margin-top: 5px;
  background-color: #2E3B59;
  border: 1px solid #2E3B59;
}

#changeNameInput {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#submitSettings {
  background-color: #B0BDD9;
  border: 1px solid #B0BDD9;
}

.settingsHeader {
  color: #64718C;
}

/* chat */
#chatTitle {
  margin-left: 680px;
  margin-top: -45px;
  color: #64718C;
}

#userCont {
  float: left;
  overflow-y: scroll;
  width: 200px;
  margin-top: 13px;
  border: 3px solid black;
  margin-left: 160px;
  margin-right: 10px;
  height: 438px;
  border-radius: 8px;
  padding-top: 15px;
}

#bigChat {
  height: 440px;
  width: 900px;
  border: 3px solid black;
  border-radius: 8px;
  margin-left: 385px;
  margin-top: 20px;
}

#chatDispCont {
  margin-left: 23px;
  margin-top: 20px;
  height: 340px;
  width: 850px;
  /* border: 1px solid black; */
  border-radius: 8px;
  overflow-y: scroll;
  overflow-x: none;
  position: absolute;
}

#chatLine {
  border-top: 1px solid black;
  /* position: absolute; */
  margin-top: 375px;
}

#chatInputCont {
  margin-left: 25px;
  margin-top: 10px;
  position: absolute;
}

#chatInput {
  font-size: 20px;
  width: 765px;
  margin-right: 15px;
}

#chatHeader {
  margin-left: 15px;
}

#usersUl {
  margin-left: -15px;
  list-style-type: none;
  margin-top: 20px;
  height: 400px;
}

#chatInput:focus {
  outline: solid 2px #B0BDD9;
}

#chatUl {
  list-style-type: none;
  margin-top: 15px;
}

#userOther {
  margin-left: 10px;
}

#selfLi {
  float: right;
}

#otherLi {
  float: left;
  margin-left: -15px;
  margin-right: 475px;
}

#messageOther {
  margin-top: -15px;
  margin-bottom: 15px;
  background-color: lightgrey;
  padding-left: 15px;
  padding-top: 5px;
  height: auto;
  padding-bottom: 10px;
  border-radius: 20px;
  display: inline-block; 
  padding-right: 15px;
}

#messageSelf {
  margin-top: 15px;
  background-color: #E8EFFF;
  padding-left: 15px;
  padding-top: 5px;
  height: auto;
  padding-bottom: 10px;
  border-radius: 20px;
  display: inline-block; 
  padding-right: 15px;
  margin-right: 20px;
  margin-left: 600px;
}

#chatSend {
  position: absolute;
  margin-top: -1px;
  background-color: #2E3B59;
  border: 1px solid #2E3B59;
}

/* budget */
#budgetTitle {
  margin-left: 670px;
  margin-top: -45px;
  color: #64718C;
}

#budgetTableCont {
  margin-left: 525px;
}

#chartCont {
  margin-top: 25px;
  margin-left: 100px;
}

#budgetDropdown {
  margin-left: 565px;
  margin-top: 50px;
}

#budgetTable {
  width: 275px;
  margin-left: 50px;
  margin-top: 25px;
  font-size: 20px;
}

.budgetInput {
  width: 100px;
}

#submitBudget {
  margin-left: 150px;
}

#sliderCont {
  margin-top: 50px;
  margin-left: 400px;
}

#half1 {
  float: left;
  margin-right: 15px;
}

#budgetSlider {
  width: 300px;
  float: left;
  margin-right: 15px;
}

#half2 {
  float: left;
}

#barCharts {
  position: absolute;
  margin-top: 50px;
}

#barChartLeft {
  float: left;
  margin-right: 50px;
  margin-left: 75px;
}

#barChartRight {
  float: left;
}

#singleChart {
  margin-left: 350px;
  margin-top: 0px;
}