/* #navbar {
  width:200px;
  height: 100vh;
  background-color: pink;
  float: left;
} */


/* login page */
#landingPic2 {
  height: 110vh;
  width: 1640px;
}

#landingBack {
  margin-top: -725px;
  margin-left: 200px;
  border-radius: 20px;
  border: 2px solid #A692A2;
  opacity: .5;
  position: absolute;
  height: 600px;
  width: 500px;
  background-color: #BFADA3;
}

#landingTitle {
  position: absolute;
  margin-top: -675px;
  margin-left: 225px;
  font-size: 75px;
  color: #F2F2F2;
}

#landingUsername {
  position: absolute;
  margin-top: -500px;
  margin-left: 325px;
  font-size: 20px;
}

#landingUsername:focus {
  outline: solid 2px #A692A2;
}

#landingPassword {
  position: absolute;
  margin-top: -400px;
  margin-left: 325px;
  font-size: 20px;
}

#landingPassword:focus {
  outline: solid 2px #A692A2;
}

#landingLogin {
  position: absolute;
  margin-top: -275px;
  margin-left: 400px;
  width: 100px;
  font-size: 25px;
  background-color: #BFADA3;
  border: 1px solid #F2F2F2;
  color: #F2F2F2;
}

#landingLogin:hover {
  background-color: #F2F2F2;
  border: 1px solid #BFADA3;
  color: #BFADA3;
}

#landingSignUp {
  position: absolute;
  margin-top: -210px;
  margin-left: 415px;
  color: #F2F2F2;
}

#landingSignUp:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* sign up page */
#signupPage {
  margin-top: -15px;
}

#signupLeft {
  float: left;
}

#signupBorder {
  margin-top: 25px;
  margin-lefT: 200px;
  border-radius: 20px;
  border: 2px solid black;
  opacity: .25;
  height: 600px;
  width: 500px;
}

#signupRight {
  float: right;
  height: 100vh;
  width: 600px;
}

#signupPic {
  height: 100vh;
  width: 600px;
}

#signupTopSpace {
  height: 15px;
}

#signupBack {
  color: black;
  margin-left: 25px;
}

#signupTitle {
  margin-left: 375px;
  margin-top: -525px;
  position: absolute;
}

.signupInput {
  margin-left: 330px;
}

#signupUsername {
  position: absolute;
  margin-top: -410px;
  font-size: 20px;
}

#signupUsername:focus {
  outline: solid 2px #F2CEAE;
}

#signupEmail {
  position: absolute;
  margin-top: -310px;
  font-size: 20px;
}

#signupEmail:focus {
  outline: solid 2px #F2CEAE;
}

#signupPassword {
  position: absolute;
  margin-top: -210px;
  font-size: 20px;
}

#signupPassword:focus {
  outline: solid 2px #F2CEAE;
}

#signupSubmit {
  position: absolute;
  margin-top: -100px;
  margin-left: 400px;
  width: 100px;
  font-size: 25px;
  background-color: white;
  border: 1px solid #F2CEAE;
  color: #F2CEAE;
}

#signupSubmit:hover {
  background-color: #F2CEAE;
  border: 1px solid white;
  color: white;
}



#appCont {
  width: 1440px;
  height: 100vh;
  float: left;
}

/* timeline */
#horizontalLine {
  position: absolute;
  border-bottom: 7px solid pink;
  width: 700px;
  margin-left: 100px;
  margin-top: 100px;
}

.circle{
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: pink;
}

#start {
  margin-left: 89px;
  margin-top: 90px;
}

#start:hover {
  background-color: purple;
}

#end {
  margin-left: 789px;
  margin-top: 90px;
}


#end:hover {
  background-color: purple;
}

.line {
  position: absolute;
  border-right: 3px solid pink;
  height: 50px;
}

#first {
  margin-left: 200px;
  margin-top: 80px;
}

#first:hover {
  border-right: 3px solid purple;
}

#second {
  margin-left: 400px;
  margin-top: 80px;
}

.date {
  position: absolute;
}

#startDate {
  margin-top: 50px;
  margin-left: 65px;
}

#endDate {
  margin-top: 50px;
  margin-left: 750px;
}