<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You've been added to a new vacation: <%= @vacation %>.</h3>
    <p>- travel planner team</p>
  </body>
</html>