<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
        <%= link_to "Retrieve username", password_reset_edit_url(token: @token) %>
    </p>
  </body>
</html>
