<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to your new travel planner!</h3>
    <h3>Thank you for signing up!</h3>
    <h3>- Travel Planner team</h3>
  </body>
</html>